.dvc/config
.dvc/config.local
.venv-*/
__pycache__/
*.pyc
*.pyo
.DS_Store
runs/
wandb/
*.log
/dataset
/quran_verse_line_dataset.zip
/data.remote.yaml
/train.remote.txt
/val.remote.txt
*.pt
*.onnx
*.engine
